@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

@import '../../node_modules/normalize.css/normalize.css';
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', BlinkMacSystemFont, 'Segoe UI', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.plus {
  position: absolute;
  right: 7px;
  bottom: 7px;
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 1010px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.divider {
  margin: 0 0 16px !important;
  padding-top: 7px;
}
